:root{
    font-size: 20px;
    --color-title-card: #353C57;
   background-color: #FBE4FF
}
body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}
section {
    background-color: #243B93;
    background-size: 80%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 60px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}
.header1{
    display: block;
    position: relative;
    padding: 0 30px;
    margin: 0;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
.title{
    background-color: #BFF0FF;
}
.title h2{
    margin: 0;
    font-size: 2.2rem;
    font-style: italic;
    padding: 1rem 0;
    font-weight: 400;
    color: #202846;
}
.container{
    width: 80%;
    margin: 0 auto;  
}
.list{
    font-size: 40px;
    background-color: white;
    color: rgba(0, 0, 0, 0.65);
    padding: 1% 0 1% 37%;
    margin:1rem 0;
    font-size: 1.4rem; 
}
details > summary {
    list-style: none;
  }
.list::after{
    content: "▼";
    float: right;  
    text-align: center;
}
details[open] summary:after{
    content:"►"
}
.card{
    background: linear-gradient(110deg, #ADCBD4 14%, #00AEE5 84%);
    display: flex;
    justify-content: space-evenly;
    padding: 1.6rem 0;
    position: relative;
    margin-bottom: 1.5rem;
    transition: all 1s;
    max-height: 12rem; 
}
.card > .card-img{
    width: 35%;
}
.card-img > img{
    max-width: 100%;
    min-height: 100%;
}
.card > .card-description{
    width: 50%;
    overflow:auto;      
}
.card .card-description__title{
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    border-bottom: 3px solid white;
    color: var(--color-title-card);
}
.card .card-description__content{
    background-color:#EDFBFF;
    padding: 1.1rem;
    box-sizing: border-box;
    margin-top: .3rem;
    font-size: 18px;
}
.card .star, .card .btn{
    position: absolute;
}
.card .btn{
    display: inline-block;
    bottom: 10px;
    right: -55px;
    background-color: #243B93;
    color: white;
    width: 200px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
}
.card .star{
    right: 10px;
    top: 10px;
}
.card:hover{
    box-shadow: 10px 10px 80px #2CBDEB;
}

.card:hover .star path{
    fill: yellow;
}

.card:hover .btn{
    background-color: #EF075B;
}
.card *{
    transition: all .5s;
}
.btm_up{
    position: absolute;
    right: -4.2rem;
    bottom: 1.5rem;
}
.block-center{
    background: linear-gradient(200deg, #54D6FF 37%, #FFE600 80%);
   background-position: 0;
    height: 3rem;
    color: #243B93;
    font-style: italic;
    font-size: 2.2rem;
    margin: 1.5rem 0;
}
.personal-card{
    background: linear-gradient(180deg, #859EFF 0, #69FFD2 90%);
    height: 18rem;
    margin: 1rem 0;
    display: flex;
    justify-content:space-evenly;
}
.column-one .btn{
    display: inline-block;
    background-color: #243B93;
    color: white;
    width: 200px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
}
.column-one{
    padding: 1%;
    display: flex;
    flex-direction:column;
    height: 90%;
}
.column-one div{
   margin: .5rem;
   align-items: center;
}
.column-one div img{
    width: 75%;
    padding: 4% 11%;
}
.column-two{
    padding-top: 3%;
    font-style: italic;
    font-size: 1.6rem;
    color: #353C57;
    block-size: 80%;
    overflow: hidden;
}
.column-two div{
    border-bottom: 2px solid white;
    padding: .4rem;
}
.column-two .none{
    border-bottom: none;
}
.block-contacts{
    background: linear-gradient(240deg,#FFE600 37%,  #54D6FF 65%);
   background-position: 0;
    height: 3rem;
    color: #243B93;
    font-style: italic;
    font-size: 2.2rem;
}
.exit .btn{
    display: inline-block;
    background-color: #243B93;
    color: white;
    width: 150px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    display: block;
    margin: 1% auto 4% auto
}
.column-one div:hover .btn{
    background-color: #EF075B;
    transition: all .5s;
}
.exit:hover .btn{
    background-color: #EF075B;
    transition: all .5s;
}
.underline{
    border-bottom: 2px solid black;
    font-size: 1.6rem;
}
.container-1{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem auto;
}
iframe{ 
    border-radius: 2rem; 
}
.footer{
background-color: #243B93;
background-size: 80%;
font-size: .8rem;
font-weight: bold;
color: white;
padding: 1rem 0;
}

