body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #3E718E 0%, #64969B 100%);
}
.card{
    width: 80%;
    height: 630px;
    display: flex;
    margin: 60px auto;
    min-width: 800px;
    max-width: 1200px;
}
.left-side{
    background: white;
    width:55%;
    font-size: 16px;
   
}
.top{
    background: linear-gradient(260deg, #496F74 88%,#6E9195 0%,#2D4F61 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 0 0 30px;
}

.central-block{
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
}

form{
    font-weight: 400;
    margin: 0 auto 50px auto;
    width: 65%;
}

.text-1{
    font-size: 10px;
    color: #A8A8A8;
    padding: 0;
    margin: -16px 0 10px;  
}

input{
    width:100%;
    font-size: 12px;
    padding: 3px 0 3px 1px;
    border: #CCCCCC 1px solid;  
}

input::placeholder{
    font-size: 12px;
    color: #CCCCCC; 
}

.text-2{
    color: #A8A8A8;
    font-size: 12px;
    padding-left: 4px;
}
#selected-location{
    width: 100%;
    font-size: 12px;
    color: #CCCCCC;
    border: #CCCCCC 1px solid;
    padding: 3px 0 3px 1px; 
}
option{
    background-color:#214159;
}

button{
    background: #284A5E;
    color: white;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 80px;
    border-radius: 2px;
    border: transparent 2px solid;
    cursor: pointer;
}

button:hover{
    background:#5b9fa0;
}

button:active {
    transform: translateY(1px);}
  
.login{
    color: #C4C4C4;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.login a{
    text-decoration: #476D73 underline;
    padding-left: 4px;
}

.login a:hover{
    color: #476D73; 
}

.right-side{
    display: block;
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;
    width: 45%;
    color: white;
}
.right-nav{
display: flex;
list-style: none;
justify-content: flex-end;

}
.right-nav li{
   padding: 0 10px;
}
.right-nav li a{
    text-decoration: none;
    color: white;
}
.main-text{
    font-size: 48px;
    margin: 30% 20%;
    width: 80%; 
}
.sign{
    font-size: 16px;
}