@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&family=Work+Sans:wght@500;600;700&display=swap');
:root{
    font-size: 10px;
    background-color: #212529;
    --color-white: white;
    --color-orange: #ffb742;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}
.content{
    margin: 1% 5% 0 5%;
}
.header-top{
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.btn-1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    display: inline-block;
    background-color: var(--color-orange);
    border-radius: 2.5rem;
    width: 10rem;
    font-weight: bold;
    text-decoration: none;
    color: #212529;
    padding: 1rem;   
}
.header__nav a {
    color: var(--color-white);
    text-decoration: none;
    margin: 2px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 50rem;
}
.header__nav a:hover{
    color:var(--color-orange);
}
.central-block{
    text-align: center;
    color:var(--color-white);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 8rem;
    margin-bottom: 15rem;
}
.first-line{
    font-size: 3.2rem;
    margin: 4rem 0 2rem 0;
}
.central-block div a{
    color: var(--color-orange);
}
.second-line{
    font-size: 4.8rem;
}
.third-line{
    font-weight: 400;
    font-size: 2.4rem;
    margin: 5%;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 31.5%;
    background: #292b2e;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card:hover .card-title, .card:hover .card-subtitle{
    color: #212529;
}

.card-title{
    font-size: 3.2rem;
    color: var(--color-orange);
}
.card-subtitle{
    font-size: 1.6rem;
    color: var(--color-white);
}
#main-block-1{
    margin: 18rem 0 3rem -9rem;
    display: flex;
    justify-content: space-between;
}
.btn-2{
    display: inline-block;
    background: #292b2e;
    border-radius: 2.5rem;
    width: 14rem;
    text-decoration: none;
    color:var(--color-orange);
    padding: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-transform:uppercase;
    margin-left: -1rem;
}
.main-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 4.8rem;
    color: var(--color-white);
}
.main-description{
    display: block;
    width: 65rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--color-white);
    padding: 2rem 0 6rem 0;
    line-height: 3rem;
}
#main-block-2{
    display: flex;
    justify-content: space-between;
    block-size: 30%;
}
.icons-block{
   display: flex;
    flex-direction: column;
}
.frame, .frame-2{
    display: flex;  
}
.icons-block img{
display: inline-block;
width: 4rem;
height: 4rem;
background: #383E45;
border-radius: 1rem;
padding: 2rem;
margin: .5rem;

}
.icons-block img:hover{
    background-color: #FFB74270;
    transition: all 1s;
}
#main-block-3{
    text-align: center;
    margin-top: 12rem;
    
}
.central-nav a {
    color: var(--color-white);
    text-decoration: none;
}
.central-nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 80rem;
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}
.central-nav a:hover{
    color: var(--color-orange);
}
.pictures{
    display:flex;
    justify-content: space-evenly;
    min-width: 130rem;
    width: min-content;
    min-height: 82.5rem;
    height: min-content;
    margin: 3rem auto 12rem auto

}

.pictures div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
}
.comments{
    display:flex;
    justify-content: space-evenly;
    min-width: 130rem;
    width:min-content;
    margin: 6rem auto 10rem auto
}
footer{
    background: #1C1C1C;
}
#footer-block{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 12rem 0 6rem 0;
    margin: 1% 5% 0 5%;
}

.footer-block-item-1 a{
    color: var(--color-orange);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    text-decoration: none;
    align-self: flex-start;
    line-height: 2rem;
       
}
.footer-block-item-1 div{
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 4rem;
}
.footer-block-item{
    display: flex;
    flex-direction: column;
        
}
.footer-block-item div{
    display: flex;
    flex-direction: column;
    color: #7B7B7B;
    font-weight: 500;
    font-size: 1.8rem;
    list-style: none;
    margin-top: 2rem; 
}
.footer-block-item a{
    text-decoration: none;
    color: #7B7B7B;
}