
body{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    position: absolute;
    margin: 0;

}

.header{
    text-align: center;
    text-transform: uppercase;
    font-family: m_plus_1;
    font-weight: 400;
    font-size: 40px;
}

.header-blue{
    color: #3E45E8
}

.header-yellow{
    color: #E8C23E
}

.img1{
    background-image: url(../img/фонове\ зображення.svg);
    width: 92%;
    height: 400px;
    display: inline-block;
    background-size: cover;
    padding: 50px;
    color: white;
    margin: 0;
    min-width: 700px;
    max-width: 1000px;
}

.i{
    background-image: url(../img/V.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 120px;
    background-size: contain;
    padding: 0 40px;
    margin-top: 150px;
    font-size: 24px;
}

.one{
    margin: 40px 80px 0;
    
}
.content{
    min-width: 700px;
    max-width: 1000px;
    margin: 30px;
    text-align: center;
}

.content > div{
    width: 250px;
    height: 300px; 
    border: 5px solid #0D095F;
    border-radius: 8%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 10px 18px #00D1FF;
    margin: 10px 10px;
    padding-bottom: 20px;
    text-align: left;
    
}
.content2{
    text-align: center;
    min-width: 700px;
    max-width: 1000px;
}

.h-blue{
    color: #0072DB;
}

.h-yellow{
    color: #FF9900;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.image{
  background-image: url("../img/Rectangle6.png");
  background-position: center top;
  background-size: 350px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 25px;
  margin: 10px;
}

a {  text-decoration: none;
    color: white }

.contacts{
    background-image: url(../img/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #A89D9D;    ;
    font-family: Marcellus SC;
    font-size: 30px;
    padding: 10px;
    width: 100%;
    min-width: 700px;
    max-width: 1000px;
}
.color
{color: #A89D9D;}