@keyframes img-show-left {
    from {
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes img-show-right {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes c-1 {
    from{
        top: 0;
        right: 0;
    }
    25%{
        top: 50%;
        right: 0;
    }
    50%{
        top: 50%;
        right: 50%;
    }
    75% {
        top: 0;
        right: 50%;
    }
    to{
        top: 0;
        right: 0;
    }
}

@keyframes c-4 {
    from{
        top: 50%;
        right: 0;
    }
    25%{
        top: 50%;
        right: 50%;
    }
    50% {
        top: 0;
        right: 50%;
    }
    75%{
        top: 0;
        right: 0;
    }
    to{
        top: 50%;
        right: 0;
    }
}

@keyframes c-3 {
    from{
        top: 50%;
        right: 50%;
    }
    25%{
        top: 0;
        right: 50%;
    }
    50%{
        top: 0;
        right: 0;
    }
    75%{
        top: 50%;
        right: 0;
    }
    to{
        top: 50%;
        right: 50%; 
    }
}
@keyframes c-2 {
    from{
        top: 0;
        right: 50%;
    }
    25%{
        top: 0;
        right: 0;
    }
    50%{
        top: 50%;
        right: 0;
    }
    75%{
        top: 50%;
        right: 50%; 
    }
    to{
        top: 0;
        right: 50%;
    }
}