@import url(./animation.css);

:root{
    font-size: 10px;
    --size:1500px;
}
body{
    margin: 0;
    font-family: 'Rosario', sans-serif;
    font-weight: bold;
    font-style: italic;
}
header{
    display: flex;
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.header_nav{
    background-color:black;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10rem;
    margin: 0;
    padding: 0;  
}
a img{
    height:10rem;    
}
.header_nav li{
    padding: 2rem;
}
.header_nav a{
    text-decoration: none;
    font-size: 3.6rem;
    color: #FFFCFC;
}
#screen{
    margin-top: 10rem;
    min-height: 65rem;
    width: 100%;
    overflow: hidden;
    size: var(--size);  
}
.box{
    height: 65rem;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}
.box > div{
    width: 23%;
    align-self: center;
}
.left-two, .right-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-two > div:first-child, .right-two > div:first-child{
    margin-bottom: 2rem;
}
.left-one img, .right-one img{
    width: 100%;
}
.left-two img, .right-two img{
    width: 100%;
}
.left-one{
    transform: translateX(-100%);
    animation: img-show-left 2s linear 1 forwards;
}
.right-one{
    transform: translateX(0);
    animation: img-show-right 2s linear 1 forwards;
}
.left-two{
    transform: translateX(-100%);
    animation: img-show-left 1s linear 1 forwards;
}
.right-two{
    transform: translateX(0);
    animation: img-show-right 1s linear 1 forwards;
}
#screen-service{
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    size: var(--size);
    min-height: 65rem;
}
.circles{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    box-sizing: border-box;
    position: relative;
    font-size: 3.6rem;
}
.circles div{
    width: 50%;
    height: 50%;
    text-align: center;
    position: absolute;
    padding-top: 3rem;   
    }
.circles img{
    width: 50%; 
    }
.opposite-c{
    width: 40%;
    }
.opposite-c img{
    width: 100%;
    }    
.c-1{
    top: 0;
    right: 0;
    animation: c-1 5s ease-in-out infinite;
}
.c-2{
    top:0;
    right: 50%;
    animation: c-2 5s ease-in-out infinite;
}
.c-3{
    top:50%;
    right: 50%;
    animation: c-3 5s ease-in-out infinite;
}
.c-4{
    top:50%;
    right: 0%;
    animation: c-4 5s ease-in-out infinite;
}
#team-screen{
    height: 65rem;
    margin-top: 10rem;
    size: var(--size);    
}
.title{
    font-weight:bold;
    font-style: normal;
    font-size: 7rem;
    text-align: center;
    padding: 4rem;
}
.team{
    display: flex;
    justify-content: space-around;
    width: 100%; 
    flex-wrap: wrap;
    color: #FFFAFA;
    font-family: 'Volkhov', serif;
    font-size: 4.8rem;  
}
.team div{
    width: 20%;
    align-items: center;
    position: relative;  
}
.team:hover div{
    filter: brightness(.5)
}
.team div:hover{
    filter: none;
}
.team img{
    width: 100%;
    height: 100%;
}
.team .name{
    position: absolute;
    background:#A3530A;
    border: none;
    opacity: 80%;
    bottom: 0;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    font-style: normal;
    transition: .5s;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.team > div:hover .name{
    height: 10rem;   
}
.left-contact p{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
}
#contacts{
    display: flex;
    width: 90%;
    gap: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
}
.left-contact{
    display: flex;
    flex-direction: column;
    width: 60%;
}
iframe{
    width:100%;
    height: 100%;  
}
.map{
    width: 40%;
}
form{
    background: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    padding: 1rem;
    font-size: 3rem;
    margin: 2%;
    border: none;
    height: 30%;
}
input[type="text"]{
    width: 30%;
}
input[type="email"]{
    width: 55%;
}
#mess{
    height: 70%;
    margin: 2%;
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
}
textarea{
    resize: none;
    border: none;
}
input::placeholder{
    text-align: start;
    font-style: normal;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 93%;
    height: 15rem;
    margin: 5% auto 1% auto;
    font-weight: 600;
    font-style: italic;
    font-size: 2.6rem;
}
footer .contact-me{
    width: 40%;
    text-align: center;
    font-weight: 600;
    font-style: italic;
}
.contact-me span{
    font-weight: bold;
    font-style: normal;
    padding-right: 1rem;
}
footer .open-hrs{
    width: 40%;
    text-align: center;
}
.open-hrs span{
    font-size: 3.2rem;
    font-weight: bold;
    font-style: normal;
}
.connection span{
    font-weight: bold;
    text-align: center;
    font-style: normal;
}
footer .connection{
    width: 20%;
    text-align: left;   
}
footer a{
    text-decoration: none;
    color: #000000;  
}
.connection div{
   margin-left: 4rem;
}

@media screen and (min-width:1620px) {
    :root{
        --size: 1620px;
        margin-left: 4%;
        margin-right: 4%;
    }
}
@media screen and (min-width:992px) and (max-width:1620px) {
    :root{
        --size: 992px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    :root{
        --size: 768px;
    }
    .header_nav li{
        padding: 3.5rem 1rem 3.5rem 1rem;
    }
    .header_nav a{
        font-size: 2.2rem;
    }
    #screen{
        min-height: unset;
        margin-top: 11rem;
    }
    .box{
        height:min-content;
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .box > div{
        width: 50%;
        margin-bottom: 2rem;
    }
    .left-one{
        order:1;
    }
    .right-one{
        order: 2;
    }
    .left-two{
        order:3;
        margin: 0;
    }
    .right-two{
        order:4;
        margin: 0;
    }
    .left-one{
        transform: translateX(-100%);
        animation: img-show-left 1s linear 1 forwards;
    }
    .right-one{
        transform: translateX(0);
        animation: img-show-right 1s linear 1 forwards;
    }
    #screen-service{
        flex-direction: column;
        margin-top: 10rem;
        align-items: center;
        min-height: 65rem;
    }
    .circles{
        order:2;
        width: 80%;
        font-size: 2rem;
        height: 55rem;
    }
    .opposite-c{
        order:1;
        width: 75%;
    }
  #team-screen{
    flex-wrap: wrap;
    height: 100%;
    margin-top: 3rem;
  }
  .title{
    font-size: 4rem;
  }
.team{
   display: flex;
   flex-wrap: wrap;
   width: 70%;
   justify-content: space-around;
   margin: 0 15%;
   gap:25px; 
}
.team div{
    width: 40%;
    position: relative;
}
#contacts{
    display: flex;
    flex-wrap: wrap;
    margin: 10rem auto 5rem auto;
    height: 65rem;
    gap:0;
}
.left-contact{
    order: 1;
    width: 100%;
}
.map{
    order:2;
    margin-top: 2rem;
    width: 100%;
    height: 50%;
}
iframe{
    text-align: center;
}
.left-contact p{
    font-size: 3rem;
}
footer{
    width: 100%;
    height: 10rem;
    margin: 0 auto 0 auto;
    font-size: 1.6rem;
}
.open-hrs span{
    font-size: 2rem;
}
.connection div{
    margin-left: 2rem;
 }
 .connection img{
   width: 15%;
 }
}
@media screen and (max-width:768px) {
    :root{
        size: 100%;
    }
    .header_nav{
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
    }
    a img{
        height:5rem;    
        padding-top: 2.5rem;
    }
    .header_nav li{
        padding: 1rem 1rem 1rem 1rem;
    }
    .header_nav a{
        font-size: 2rem;
    }
    #screen{
        margin-top: 11rem;
    }
    .box{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        margin-left: auto;
        margin-right: auto; 
    }
    .box > div{
        width: 90%;
    }
    .left-two, .right-two{

        justify-content: center;
        margin: 1rem;
    }
    .left-two > div:first-child, .right-two > div:first-child{
        margin: 1rem;
    }
    #screen-service{
        display: flex; 
        min-height:55rem;
        height: 55rem;
        margin-bottom: 8rem;
    }
    .opposite-c img{
        width: 0;
    }
    .opposite-c{
        width: 0;
    }
    .circles{
        height: 65rem;
        width: 100%;
        font-size: 2rem;
    }
    .circles img{
        width: 60%; 
    }
    #team-screen{
        margin: 0;
        height:auto;
    }    
    .title{
        font-size: 4rem;
    }
    .team{
        flex-direction: column;
        align-items: center;
        font-size: 4rem;   
    }
    .team div{
        width: 60%;    
    }
    .team .name{
        bottom: 1.3rem;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    #contacts{
        flex-direction: column;
        margin-top: 10rem;
        gap:2rem;
    }
    .left-contact{
        order: 2;
        width: 100%;
    }
    .map{
        order:1;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 30rem;
    }
    input[type="text"]{
        width: 30%;
      }
    input[type="email"]{
          width: 51%;
        }
    .left-contact p{
        font-size: 3rem;
    }
    footer{
        width: 100%;
        height: 10rem;
        margin: 5% auto 1% auto;
        font-size: 1.2rem;
    }
    .open-hrs span{
        font-size: 1.8rem;
    }
    .connection div{
        margin-left: 2rem;
     }
     .connection img{
       width: 12%;
     }
}  
