body{
    margin: 0;
    }

.Venice{
    background-image: url(../img/фон.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 500px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 20em;
    max-width: 80em;
    }

   .displayed{
   text-align: center;
   display:block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 120px;
   width: 65%;

   }
   .header{
    font-family: inter;
    font-size: 40px;
    padding: 0 17%;
   } 

   .cards{
    text-align: center;
   }

   .cards > div{
    width: 250px;
    height: 280px; 
    display: inline-block;
    vertical-align: top;
    border: 1px #231B0C;
    background-color: #231B0C;
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: 80%;
    margin: 0 10px 15px 10px;
    padding: 20px 0 20px 10px;
    }
    
    .card1{
    background-image: url(../img/фото\ галереї.svg);
    }

   .card2{
    background-image: url(../img/фото\ спорт.svg);

   }
   .card3{
    background-image: url(../img/фото\ інше.svg);
   }

   .displayed1{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 825px;
    padding: 10px;
    }

   .contacts{
    background-color:#150F02;
    background-image: url(../logo/logo1.svg), url(../logo/logo2.svg), url(..//logo/logo3.svg);
    background-position: 42% 90%, 50% 90%, 58% 88%;
    background-repeat: no-repeat;
    width: 80%;
    height: 215px;
    display: block;
    margin: 15px auto 0 auto;
    min-width: 20em;
    max-width: 80em;
    font-family: roboto;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
   }

   table{
    text-align: center;
    border: 1px #150F02;
    width: 80%;
    height: 30px;
    margin: 0 auto 0 auto;
    padding-top: 35px;
   }

   th, td{
    border: 1px #150F02;
    width: 500px;
    height: 20px;
   }

 